.customVideo {
  background: var(--Black, linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0.9) 100%));
  border-radius: 4px;
  margin-top: 10px;
  padding: var(--spacing-size-small);
  width: 100%;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.textarea {
  font-size: 14px;
  background: white;
  width: 100%;
}

.error {
  color: var(--color-error);
  font-size: 12px;
  font-style: italic;
}

.button {
  background-color: orange;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.disabled {
  background-color: orange;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  cursor: not-allowed;
}

.errorContainer {
  height: var(--spacing-size-large);

  display: flex;
  align-items: center;
}
