.customVideo {
  background: var(
    --Black,
    linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0.9) 100%)
  );
  border-radius: 4px;
  margin-top: 10px;
  padding: var(--spacing-size-small);
  width: 100%;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.labelTextArea {
  font-size: 14px;
}

.textarea {
  font-size: 14px;
  background: white;
  width: 100%;
}

.error {
  color: var(--color-error);
  font-size: 12px;
  font-style: italic;
}

.errorContainer {
  height: var(--spacing-size-massive);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
