.faultyWidgetCard {
  height: 180px;
  border-radius: 4px;
  padding: var(--spacing-size-small);
  width: 100%;
  align-items: center;
  gap: 8px;
  color: white;
}

.contactInfo {
  color: var(--primary-color);
}
