.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  border-radius: 10px;
  height: 340px;
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rga(112, 112, 122, 0.26);
}
