.widgetCard {
  height: fit-content;
  background-color: rgba(112, 112, 122, 0.26);
  border-radius: var(--border-radius-small);
  margin: var(--spacing-size-medium);
  padding: var(--spacing-size-medium);

  width: 100%;
  align-items: center;
  gap: var(--gap-size-medium);
}

.infoIllustrationWrapper {
  display: flex;
  align-content: center;
}
.info {
  color: var(--primary-color);
}

.logo {
  width: 50px;
  margin-left: var(--spacing-size-medium);
}
