# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore build directories
dist
build

# Ignore dependency directories
.dockerignore
Dockerfile

# Ignore local environment files
.env
.env.*
*.env
*.env.*
*.local

# Ignore IDE and editor directories/files
.vscode
.idea
*.swp
*~

# Ignore any test data
__tests__
coverage

# Ignore all Markdown files
*.md

# Ignore other files and directories that are not necessary
.git
.gitignore
