.faultyWidgetCard {
  height: 180px;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-size-small);
  width: 100%;
  align-items: center;
  gap: var(--gap-size-medium);
  color: white;
}

.contactInfo {
  color: var(--primary-color);
}
