@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Apply the Aldrich font to your headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aldrich', sans-serif;
}

h1 {
  font-size: 85px;
  color: white;
}

:root {
  --heading-color: #ffb800;
  --spacing-size-small: 15px;
  --spacing-size-medium: 20px;
  --spacing-size-large: 35px;
}

th {
  font-family: 'Aldrich', sans-serif;
}
