@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Apply the Aldrich font to your headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aldrich', sans-serif;
}

label {
  font-family: 'Aldrich', sans-serif;
}
h1 {
  font-size: 85px;
  color: white;
}

:root {
  --primary-color: #ffb800;
  --spacing-size-tiny: 5px;
  --spacing-size-small: 10px;
  --spacing-size-medium: 15px;
  --spacing-size-large: 20px;
  --spacing-size-huge: 25px;
  --spacing-size-massive: 30px;
  --spacing-size-gigantic: 35px;
  --color--gray: #5f5c5dff;
  --color--brown: #926715ff;
  --color-cafe-noir: #523d1eff;
  --color-eerie-black: #232324ff;
  --color-error: #ff4c4c;

  --primary-hover-color: #ffa500;
  --primary-active-color: #cc8e00;
}

th {
  font-family: 'Aldrich', sans-serif;
}
