.button {
  color: black;
  outline: none;
  padding: 16px 32px;
  text-decoration: none;
  border: none;
  font-size: var(--font-size-medium);
  cursor: pointer;
  width: fit-content;
  background: var(--primary-color);
  transition-duration: 0.4s;
}

.button:active:hover {
  background-color: var(--primary-active-color);
}

.button:hover {
  background-color: var(--primary-hover-color);
  outline: none;
  color: white;
}

.disabled {
  background-color: var(--color-error);
  color: white;
  padding: 16px 32px;
  width: fit-content;
  display: inline-block;
  font-size: var(--font-size-medium);
  margin: 4px 2px;
  opacity: 0.6;
  cursor: not-allowed;
}
