.customVideo {
  background: var(--Black, linear-gradient(180deg, #232323 0%, rgba(35, 35, 35, 0.9) 100%));
  border-radius: var(--border-radius-small);
  margin-top: var(--spacing-size-small);
  padding: var(--spacing-size-small);
  width: 100%;
  align-items: center;
  gap: var(--gap-size-medium);
  width: fit-content;
}

.labelTextArea {
  font-size: var(--font-size-medium);
}

.textarea {
  font-size: var(--font-size-medium);
  background: white;
  width: 100%;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-small);
  font-style: italic;
}

.errorContainer {
  height: var(--spacing-size-massive);
  margin-bottom: var(--spacing-size-small);
  display: flex;
  align-items: center;
}
